<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
  </head>
  <body>
    {{> header}}
    <main>{{{body}}}</main>
    {{> footer}}
  </body>
</html>
