body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    border: 1px solid gray;
  }
  
main{
    min-height:76vh;
    max-height: auto;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#4fabc5;
    font-weight: 600;
}

header{
    background:#e0e0e0;
    color:#4fabc5;
    text-align: center;
    padding:15px;
    border: 1px solid gray;
    font-weight: 600;
}

.nav_links{
    margin:10px 0px;
}
.nav_links a{
    text-decoration:none;
    font-size:15px;
    margin:20px;
    font-weight: 600;
    color:#000;
    transition: all 0.35s ease-in-out;
}

.nav_links a:hover{
    color:#4fabc5;
}

footer{
    background:#e0e0e0;
    color:#4fabc5;
    text-align: center;
    padding:15px;
    border: 1px solid gray;
    font-weight: 600;
    
}

table tr th{
    color:green;
}

table tr td{
    color:#000;
}

.highlighted_row {
    background-color: #ffdddd;
    font-weight: bold;
}